{% extends 'base.html' %}

{% block header %}
<h1>Главная страница</h1>
{% endblock %}

{% block content %}
{% for cat, message in get_flashed_messages(True) %}
<p class="{{cat}}">{{ message }}</p>
{% endfor %}

<a href="{{ url_for('login') }}">Войти</a>
<a href="{{ url_for('signup') }}">Зарегистрироваться</a>

{% for post in posts %}
<h2>{{ post[1] }}</h2>
<p style="white-space: pre-line">{{ post[2] }}</p>
{% endfor %}

{% if page != 1 %}
    <a href="{{ url_for('index', page=page-1) }}">Предыдущая</a>
{% endif %}

{% if page != total_pages %}
    <a href="{{ url_for('index', page=page+1) }}">Следующая</a>
{% endif %}
{% endblock %}