{% extends 'base.html' %}

{% block header %}
<h1>Зарегистрироваться</h1>
{% endblock %}

{% block content %}
{% for cat, message in get_flashed_messages(True) %}
<p class="{{ cat }}">{{ message }}</p>
{% endfor %}

<form method="POST" action="{{ url_for('signup') }}">
    {{ form.hidden_tag() }}
    {{ form.email }}
    <span id="validationMessage"></span>
    {{ form.password }}
    {{ form.submit }}
</form>
{% endblock %}

{% block scripts %}
<script>
    check_if_email_is_unique = function() {
        $.ajax({
            url: "{{ url_for('check_if_email_is_unique') }}",
            type: 'POST',
            data: $('form').serialize(),
            success: function (resp) {
                //     $( '#email_reg' ).after( "<span></span>" ).next().text(resp.message).addClass(resp.category);
                $( '#validationMessage' ).text(resp.message).removeClass().addClass(resp.category);
            },
            error: function (response) {
                console.log(response);
            }
        })
    };
    $( '#email_reg' ).focusout(check_if_email_is_unique);
</script>
{% endblock %}