{% extends 'cashier/cashier_base.html' %}

{% block title %}
<title>Инвентарь</title>
{% endblock %}

{% block content %}
<header>
</header>

<main>
    <div class="container">

        {% for i in range(units_number) %}

            {% set set_timer_button_visibility = 'visible' %}
            {% set reset_timer_button_visibility = 'hidden' %}
            {% if statuses[i] in [1, 2] %}
                {% set set_timer_button_visibility = 'hidden' %}
                {% set reset_timer_button_visibility = 'visible' %}
            {% endif %}
            <div>
                <div class="equipment-block" id="equipment-block-{{ i }}"></div>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="visibility:{{ set_timer_button_visibility }}">
                Установить таймер
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" id='30-minutes-block-{{ i }}' onclick="init_timer_30_minutes('{{ i }}')">30 + 10 минут</a>
                    <a class="dropdown-item" onclick="init_timer_60_minutes('{{ i }}')">1 час + 10 минут</a>
                    <a class="dropdown-item" onclick="init_timer_90_minutes('{{ i }}')">1 час 30 минут + 10 минут</a>
                </div>
                <button type="button" class="btn btn-secondary reset-button" onclick="reset_timer('{{ i }}')" style="visibility:{{ reset_timer_button_visibility }}">Отключить</button>
            </div>

        {% endfor %}

    </div>
</main>

<footer>

</footer>
{% endblock %}


{% block scripts %}
<script>
    init_timer_custom_minutes = function (minutes, block_serial) {
        $.ajax ({
            url: "{{ url_for('cashier.init_timer_on_equipment') }}",
            // data: JSON.stringify(block_serial),
            type: 'GET',
            data: {'serial_number': block_serial, 'time_interval': minutes},
            contentType: 'application/json',
            success: function (response) {
                let set_timer_button = document.getElementById(`equipment-block-${block_serial}`).nextElementSibling;
                set_timer_button.style.visibility = 'hidden'
                set_timer_button.nextElementSibling.nextElementSibling.style.visibility = 'visible'
                update_timers();
            },
            error: function (response) {
                console.log(response);
            }
        });
    };

    reset_timer = function (block_serial) {
        $.ajax ({
            url: "{{ url_for('cashier.reset_timer') }}",
            data: {'serial_number': block_serial},
            success: function (response) {
                let set_timer_button = document.getElementById(`equipment-block-${block_serial}`).nextElementSibling;
                set_timer_button.style.visibility = 'visible';
                set_timer_button.nextElementSibling.nextElementSibling.style.visibility = 'hidden';
                update_timers();
            }
        })
    };

    let reserve_time = 0;

    init_timer_30_minutes = function (block_serial) {
        init_timer_custom_minutes(1 + reserve_time, block_serial);
    };

    init_timer_60_minutes = function (block_serial) {
        init_timer_custom_minutes(60 + reserve_time, block_serial);
    };

    init_timer_90_minutes = function (block_serial) {
        init_timer_custom_minutes(90 + reserve_time, block_serial);
    };

    function update_timers() {
        $.ajax({
            url: "{{ url_for('cashier.update_timers_on_equipment') }}",
            success: function (response) {
                $('.equipment-block').each( function (i) {
                    if (response.statuses[i] === 0) {
                        $( this ).css('background-color', 'aquamarine');
                    }
                    else if (response.statuses[i] === 1) {
                        $( this ).css('background-color', 'blue');
                    }
                    else if (response.statuses[i] === 2) {
                        $( this ).css('background-color', 'red');
                    }
                    $( this ).text(response.countdowns[i]) } );
            },
            error: function (response) {
                console.log(response);
            }
        })
    }

    // arrange_buttons_and_timers = function () {
    //     $.ajax ({
    //         url: "{{ url_for('cashier.update_timers_on_equipment') }}",
    //         success: function (response) {
    //             $('.equipment-block').each( function (i) {
    //                 if (response.statuses[i] === 0) {
    //                     $( this ).css('background-color', 'aquamarine');
    //                 }
    //                 else if (response.statuses[i] === 1) {
    //                     $( this ).css('background-color', 'blue');
    //                     let set_timer_button = document.getElementById(`equipment-block-${block_serial}`).nextElementSibling;
    //                     set_timer_button.style.visibility = 'hidden'
    //                     set_timer_button.nextElementSibling.nextElementSibling.style.visibility = 'visible'
    //                 }
    //                 else if (response.statuses[i] === 2) {
    //                     $( this ).css('background-color', 'red');
    //                 }
    //                 $( this ).text(response.countdowns[i]) } );
    //         },
    //         error: function (response) {
    //             console.log(response);
    //         }
    //     })
    // }

    let request_frequency = 1000;
    $(function () {
        // arrange_buttons_and_timers();
        setInterval(update_timers, request_frequency)});
</script>
{% endblock %}
