{% extends 'cashier/cashier_base.html' %}

{% block title %}
<title>Инвентарь</title>
{% endblock %}

{% block content %}
<header>
</header>

<main>
    <div class="container">
        {% for m in range(10) %}

        <div class="equipment-block eq-bl-{{ m }}">smt</div>
        <button onclick="setTimer()">Настрой таймер</button>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Установить таймер
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">30 + 10 минут</a>
            <a class="dropdown-item" href="#">1 час + 10 минут</a>
            <a class="dropdown-item" href="#">1 час 30 минут + 10 минут</a>
        </div>

        {% endfor %}

        <div class="test">test</div>
    </div>
</main>

<footer>

</footer>
{% endblock %}

{% block scripts %}
<script>
    setTimer = function () {
        $.ajax({
            type: 'POST',
            url: '/cashier/ajax',
            success: function (response) {
                console.log(response)
            },
            error: function (response) {
                console.log('error: ')
                console.log(response)
            }
        })
    }

</script>
{% endblock %}
