<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('.static', filename='style.css')}}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
{% for m in range(10) %}
<div class="equipment-block">smt</div>
    <button onclick="setTimer()">Настрой таймер</button>

{% endfor %}
</body>
<script>
    setTimer = function () {
        $.ajax({
            type: 'POST',
            url: '/cashier/ajax',
            data: {'d': 'my data....'},
            success: function (response) {
                console.log(response)
            },
            error: function (response) {
                console.log('error: ')
                console.log(response)
            }
        })
    }
</script>
</html>